<div class="constainer">
    <agm-map (mapClick)="agregarMarcador($event)" [latitude]="lat" [longitude]="lng" [zoom]= "18">
      <agm-marker *ngFor="let marcador of marcadores" [latitude]="marcador.lat" [longitude]="marcador.lng">
          <agm-info-window>
              <div>
                 <h2>{{ marcador.titulo}}</h2>
                 <p>{{marcador.desc}}</p>
              </div>
          </agm-info-window>
      </agm-marker>
    </agm-map>
    
    <ng-container *ngIf="establishments">
      <hr>
      <h2>Lista de establecimientos</h2>
      <div *ngFor="let establishment of establishments.data">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <img src="https://d1v73nxuzaqxgd.cloudfront.net/restaurants/{{establishment.logo}}" width="150px" alt="">
                  </div>
                  <div class="col-sm">
                    <h4>{{ establishment.name }}</h4>
                    <p class="text-succes">{{ establishment.generalScore }}</p>
                  </div>
                  <div class="col-sm">
                    {{ establishment.allCategories }}
                  </div>
                </div>
              </div>
        </div>
      </div>
    </ng-container>
</div>